<div class="row">
  <div class="col s4 no-padding-right">
    <workflow-select [workflowType]="workflowType.IMPORT"
		     (eventInstance)="setImportInstance($event)"></workflow-select>
  </div>
  <div class="col s8">
    <workflow-instance
      *ngIf="importInstance"
      [instance]="importInstance"
      [collection]="collection">
    </workflow-instance>
  </div>
</div>
<div class="row">
  <div class="col s4 no-padding-right">
    <h6>COLLECTION</h6>
  </div>
  <div class="col s8">
    <workflow-collection
      [collection]="collection">
    </workflow-collection>
  </div>
</div>
<div class="row">
  <div class="col s4 no-padding-right">
    <workflow-select [workflowType]="workflowType.EXPORT"
		     (eventInstance)="setExportInstance($event)"></workflow-select>
  </div>
  <div class="col s8">
    <workflow-instance
      *ngIf="exportInstance"
      [instance]="exportInstance"
      [collection]="collection">
    </workflow-instance>
  </div>
</div>

