<p>Directory</p>
<form (ngSubmit)="onSubmit()" #createForm="ngForm">
    <div>
	<input name="path"
               type="text"
               placeholder="Path"
               [(ngModel)]="path" required />
    </div>
    <p>
	<input name="isRecursive"
               type="checkbox"
               id="isRecursive"
               [(ngModel)]="isRecursive" />
        <label for="isRecursive">with sub-directories</label>
    </p>
    <button type="submit"
            [disabled]="!createForm.form.valid"
            class="btn waves-effect waves-light">
        New directory
        <i class="material-icons right">send</i>
    </button>
</form>
