<h2>Create Collection</h2>
<form (ngSubmit)="onSubmit(selectedWebsites.value)" #createForm="ngForm">
    <div>
	<label>Name</label>
	<input name="name" type="text" [(ngModel)]="collection.name" required>
    </div>
    <div>
	<label>Type</label>
	<select name="ref"
                [(ngModel)]="collection.ref"
                class="browser-default"
                required>
            <option *ngFor="let ref of refs" [value]="ref">{{ref}}</option>
        </select>
    </div>
    <div>
	<label>Websites</label>
	<select #selectedWebsites name="website"
                [(ngModel)]="collection.websites"
                class="browser-default"
                required>
            <option *ngFor="let website of websites" [value]="website">{{website}}</option>
        </select>
    </div>
    <button type="submit"
            [disabled]="!createForm.form.valid"
            class="btn waves-effect waves-light">
        Create
        <i class="material-icons right">send</i>
    </button>
</form>
