<h2>Modify '{{title}}' Collection</h2>
<form (ngSubmit)="onSubmit()">
	<div>
		<label>Rename</label>
		<input name="name"
               placeholder=[title]
               type="text"
               [(ngModel)]="collection.name">
	</div>
	<div>
		<label>Websites</label>
        <select name="website"
                [(ngModel)]="collection.websites"
                class="browser-default">
            <option *ngFor="let website of websites" [value]="website">{{website}}</option>
        </select>
	</div>
    <button type="submit"
            class="btn waves-effect waves-light">
        Modify
        <i class="material-icons right">send</i>
    </button>
</form>
