<div class="row">
    <div class="input-field col s6">
	<label for="since" class="active">Since</label>
	<input name="since"
	       class="datepicker"
	       id="since"
	       (change)="onSince($event.target.value)" />
    </div>
    <div class="input-field col s6">
	<label for="before" class="active">Before</label>
	<input name="before"
	       class="datepicker"
	       id="before"
	       (change)="onBefore($event.target.value)" />
    </div>
</div>
<div class="row">
  <div class="input-field col s6">
	<input name="larger"
		   type="number"
		   id="larger"
		   [(ngModel)]="search.larger" />
	<label for="larger">Larger</label>
  </div>
  <div class="input-field col s6">
	<input name="smaller"
		   type="number"
		   id="smaller"
		   [(ngModel)]="search.smaller" />
	<label for="smaller">Smaller</label>
  </div>
</div>
<div class="row">
  <stringlist [name]="'text'"
			  [value]="search.text"
			  (change)="onText($event)"></stringlist>
</div>
