<p>{{tweak.name}}</p>
<div class="row" *ngFor="let field of tweak.fields">
  <div [ngSwitch]="field.tag">
	<div *ngSwitchCase="'input-text'" class="input-field">
	  <input id="name" type="text" [(ngModel)]="field.src" (ngModelChange)="onChange($event)">
	  <label for="name">{{field.name}} ({{field.typ}})</label>
	</div>
	<div *ngSwitchCase="'selector'" class="input-field">
	  <select>
		<option value="" disabled selected>Choose your option</option>
      </select>
      <label>{{field.name}} ({{field.typ}})</label>
	</div>
  </div>
</div>
