<p>TWEAKS</p>
<!--<i class="material-icons" (click)="onHelp()">live_help</i>
    <blockquote *ngIf="needHelp" class="left-align">
      <p>To match <b>strings</b>, please use <b>$[parameter]</b>:</p>
      <p><b>$*</b> to get whole remaining string</p>
      <p><b>$10</b> to get next 10 letters</p>
      <p><b>$"_"</b> to get all string until '_'</p>
      <p><b>$/^([1-9]+)/</b> to match regular expression</p>
      <p>To match <b>other formats</b>:</p>
      <p><b>$country</b> for country name</p>
      <p><b>$datetime</b> for date (YYYY-MM-DD hh:mm:ss & alternatives)</p>
    </blockquote> -->
<div class="row">
  <tweaks-datas *ngIf="input"
		class="col s6"
		[tweaks]="input" (update)="onUpdate($event)"></tweaks-datas>
  <tweaks-datas *ngIf="output"
		class="col s6"
		[tweaks]="output" (update)="onUpdate($event)"></tweaks-datas>
</div>
<button *ngIf="canValidate"
	class="btn waves-effect waves-light"
	type="submit"
	(click)="onValidate()">Validate<i class="material-icons right">send</i>
</button>
