<div class="col s6 offset-s3" [ngSwitch]="collectionState">
    <ul class="collection" *ngSwitchCase="collectionStatus.CHOOSE">
        <li *ngFor="let item of collections" class="collection-item">
            <span class="title" (click)="onSelectCollection(item)">
                {{item.name}}
            </span>
            <a class="secondary-content" (click)="onDeleteCollection(item)">
                <i class="material-icons">delete</i>
            </a>
            <a class="secondary-content" (click)="onModifyCollection(item)">
                <i class="material-icons">mode_edit</i>
            </a>
        </li>
    </ul>
    <collection-create *ngSwitchCase="collectionStatus.CREATE"></collection-create>
    <collection-modify *ngSwitchCase="collectionStatus.MODIFY"></collection-modify>
    <collection-delete *ngSwitchCase="collectionStatus.DELETE"></collection-delete>
</div>
