<div class="collection col s1">
    <a *ngFor="let mode of modes; let idx = index"
       class="collection-item"
       (click)="onMode($event, idx)">
	<i class="medium material-icons">{{mode}}</i></a>
</div>
<div [ngSwitch]="currentMode"
     class="col s11">
    <div *ngSwitchCase="modeStatus.HOME">
	<div [ngSwitch]="collection.ref">
	    <div *ngSwitchCase="'simple'">
	      <simple-collection
		 [items]="items"
		 (open)="onItem($event)">
	      </simple-collection>
	    </div>
	</div>
    </div>
    <div *ngSwitchCase="modeStatus.LIST">
      <list-collection
	 [items]="items"
	 (open)="onItem($event)">
      </list-collection>
    </div>
    <div *ngSwitchCase="modeStatus.WORLD">
      <world-collection
	 [collection]="collection"
	 [items]="items"
	 (open)="onItem($event)">
      </world-collection>
    </div>
    <div *ngSwitchCase="modeStatus.HISTORY">
      <timeline-collection
	 [items]="items"
	 (open)="onItem($event)">
      </timeline-collection>
    </div>
</div>
<item *ngIf="item !== undefined"
      [item]="item"
      (close)="onCloseItem()"></item>
