<div class="row">
  <a *ngIf="path == undefined" class="col s6" (click)="start()">{{displayPath}}</a>
  <a *ngFor="let directory of list; let idx = index"
     (click)="onSelectBack(idx)">
    {{directory}}
  </a>
</div>
<div class="row">
  <div class="col s2"
       (click)="onSelect(directory)"
       *ngFor="let directory of directories">
    <i class="small material-icons">folder</i>{{directory}}
  </div>
</div>
<div class="row">
  <div class="col s2"
       *ngFor="let file of files">
    <i class="small material-icons">note</i>{{file}}
  </div>
</div>
