<nav class="nav-extended">
    <div class="nav-wrapper">
      <a class="brand-logo" (click)="onChangeCollection()">{{title}}</a>
	  <a class="right btn-floating btn-large waves-effect waves-light teal"
		 (click)="onNewCollection()">
		<i class="material-icons">add</i>
	  </a>
	</div>
	<div class="nav-content">
	  <ul class="tabs tabs-transparent">
		<li class="tab"><a (click)="onImport()">Import</a></li>
		<li class="tab"><a (click)="onCollection()">Collection</a></li>
		<li class="tab"><a (click)="onExport()">Export</a></li>
		<li class="tab"><a (click)="onConfig()">Config</a></li>
	  </ul>
    </div>
</nav>
<div class="row">
    <collections title="title"></collections>
</div>
<div class="row">
    <div [ngSwitch]="status" class="center">
        <div *ngSwitchCase="appStatus.COLLECTION">
	    <collection-display [collection]="title">
	    </collection-display>
	</div>
        <div *ngSwitchCase="appStatus.IMPORT">
            <imports></imports>
        </div>
        <div *ngSwitchCase="appStatus.EXPORT">
	     <exports></exports>
	</div>
        <div *ngSwitchCase="appStatus.CONFIG">
	    <config [collection]="title"></config>
	</div>
	<div *ngSwitchCase="appStatus.ITEM">
	    <item *ngIf="item"
		  [collection]="collection.name"
		  [item]="item"
		  (close)="onCollection()">
	    </item>
	</div>
        <div *ngSwitchCase="appStatus.NONE"></div>
    </div>
</div>
<footer class="page-footer">
    <div class="footer-copyright">
	<div class="container">
	    <i class="material-icons right">import_export</i>
	    <i class="material-icons right" href="div#buffer">star</i>
	    <i (click)="onBuffer()" class="material-icons right">live_help</i>
	    <i id="imports-loop" class="material-icons right">loop</i>
	</div>
    </div>
    <buffer [collection]="title"
	    (onItemSelected)="onItem($event)"></buffer>
</footer>
