<nav class="nav-extended">
    <div class="nav-wrapper">
	<a class="brand-logo" (click)="onChangeCollection()">{{title}}</a>
	<ul class="right hide-on-med-and-down">
            <li><a><i class="material-icons right">import_export</i></a></li>
            <li><a><i (click)="onBuffer()"
		      class="material-icons right">live_help</i></a></li>
            <li><a><i id="imports-loop"
		      class="material-icons right">loop</i></a></li>
	</ul>
    </div>
    <div class="nav-content">
	<ul class="tabs tabs-transparent">
	    <li class="tab"><a (click)="onCollection()">Collection</a></li>
	    <li class="tab"><a (click)="onImports()">Imports</a></li>
	    <li class="tab"><a (click)="onExports()">Exports</a></li>
	    <li class="tab"><a (click)="onConfigs()">Configs</a></li>
	</ul>
    </div>
</nav>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
	<i class="large material-icons">menu</i>
    </a>
    <ul>
	<li><a class="btn-floating"
	       (click)="onNewCollection()">
	    <i class="material-icons">plus_one</i></a></li>
	<li><a class="btn-floating">
	    <i class="material-icons">tune</i></a></li>
	<li><a class="btn-floating">
	    <i class="material-icons">search</i></a></li>
    </ul>
</div>

<div class="row">
    <filter></filter>
</div>
<div class="row">
    <collections-list title="title"></collections-list>
</div>
<div class="row">
    <div [ngSwitch]="status" class="center">
        <div *ngSwitchCase="appStatus.COLLECTION">
	      <collection [collection]="collection">
	      </collection>
	</div>
        <div *ngSwitchCase="appStatus.IMPORTS">
            <imports></imports>
        </div>
        <div *ngSwitchCase="appStatus.EXPORTS">
	     <exports></exports>
	</div>
        <div *ngSwitchCase="appStatus.CONFIGS">
			<configs [src]="'collections'"
					 [name]="collection.name"></configs>
	</div>
	<div *ngSwitchCase="appStatus.BUFFER_ITEM">
	    <buffer-item *ngIf="bufferItem"
		  [collection]="collection.name"
		  [bufferItem]="bufferItem"
		  (close)="onCollection()">
	    </buffer-item>
	</div>
        <div *ngSwitchCase="appStatus.NONE"></div>
    </div>
</div>
<buffer [collection]="title"
	(onItemSelected)="onItem($event)"></buffer>
