<nav class="nav-extended">
    <div class="nav-wrapper">
	<a class="brand-logo center"
	   (click)="onChangeCollection()">{{title}}</a>
	<ul class="right hide-on-med-and-down">
	    <li *ngIf="bufferActive" (click)="onBuffer()">
		<a><i class="material-icons">live_help</i></a>
	    </li>
	    <li *ngIf="filterEnabled"
		id="filter" (click)="onFilter()">
		<a><i class="material-icons">tune</i></a>
	    </li>
	    <li *ngIf="searchEnabled"
		id="search" (click)="onSearch()">
		<a><i class="material-icons">search</i></a>
	    </li>
	    <li (click)="onNewCollection()">
	      <a><i class="material-icons">plus_one</i></a>
	    </li>
	</ul>
    </div>
    <div *ngIf="menuActive" class="nav-content">
	<ul class="tabs tabs-transparent">
	  <li id="collection" class="tab">
	    <a (click)="onCollection(collection)">Collection</a>
	  </li>
	  <li id="imports" class="tab"><a (click)="onImports()">Imports
	      <i id="imports-loop"
		 class="material-icons right">loop</i></a></li>
	  <li id="exports" class="tab"><a (click)="onExports()">Exports
	      <i class="material-icons right">import_export</i></a></li>
	  <li id="configs" class="tab"><a (click)="onConfigs()">Configs</a></li>
	</ul>
	<div *ngIf="filterActive" class="nav-wrapper">
	    <filter></filter>
	</div>
	<div *ngIf="searchActive" class="nav-wrapper">
	    <div id="search-bar" class="input-field">
		<input id="search" type="search" required>
		<label class="label-icon" for="search">
		    <i class="material-icons">search</i></label>
		<i (click)="onSearchClose()" class="material-icons">close</i>
	    </div>    
	</div>
    </div>
</nav>
<div class="row">
    <collections-list title="title"></collections-list>
</div>
<div class="row">
    <div [ngSwitch]="status" class="center">
        <div *ngSwitchCase="appStatus.COLLECTION">
            <collection [collection]="collection">
            </collection>
	</div>
        <div *ngSwitchCase="appStatus.IMPORTS">
            <imports></imports>
        </div>
        <div *ngSwitchCase="appStatus.EXPORTS">
	     <exports></exports>
	</div>
        <div *ngSwitchCase="appStatus.CONFIGS">
			<configs [src]="'collections'"
					 [name]="collection.name"></configs>
	</div>
	<div *ngSwitchCase="appStatus.BUFFER_ITEM">
	    <buffer-item *ngIf="bufferItem"
		  [collection]="collection.name"
		  [bufferItem]="bufferItem"
		  (close)="onCollection(collection)">
	    </buffer-item>
	</div>
        <div *ngSwitchCase="appStatus.NONE"></div>
    </div>
</div>
<buffer [collection]="title"
	(onItemSelected)="onItem($event)"></buffer>
