<div id="config" class="modal">
  <div class="modal-content">
    <form #createForm="ngForm">
      <configs [src]="src" [item]="item" [init]=false
	       (onUpdate)="onUpdate($event)"
	       (onChange)="onChange($event)"></configs>
    </form>
  </div>
  <div *ngIf="validate" class="modal-footer">
    <button (click)="onSubmit($event)"
	    type="submit"
	    [disabled]="!createForm.form.valid"
	    class="btn waves-effect waves-light">
      Validate
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
