<div id="config" class="modal">
  <div class="modal-content">
    <form #createForm="ngForm">
      <configs [src]="src" [item]="item" [init]=false
	       (onUpdate)="onUpdate($event)"
	       (onChange)="onChange($event)"></configs>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <button *ngIf="validate"
	      (click)="onSubmit($event)"
	      type="submit"
	      [disabled]="!createForm.form.valid"
	      class="btn waves-effect waves-light">
	Validate
	<i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>
