<div class="row">
  <div class="col s3 no-padding-right">
    <workflow-create
       [workflowType]="workflowType.IMPORT"
       [refs]="importRefNames"></workflow-create>
    <ng-container *ngIf="imports">
      <workflow-display
	 *ngFor="let refType of importTypeRefNames"
	 [reference]="references.getReference(refType)"
	 [elements]="imports">
      </workflow-display>
    </ng-container>
  </div>
  <workflow-canvas #importsLinks class="col s2 no-padding"
		   [name]="'imports'"
		   [height]="2000">
  </workflow-canvas>
  <div class="col s2 no-padding">
    <h6>Collection</h6>
  </div>
  <workflow-canvas #exportsLinks class="col s2 no-padding"
		   [name]="'exports'"
		   [height]="2000">
  </workflow-canvas>
  <div class="col s3 no-padding-left">
    <workflow-create
       [workflowType]="workflowType.EXPORT"
       [refs]="exportRefNames"></workflow-create>
  </div>
</div>

