<div id="buffer" class="modal bottom-sheet">
    <div class="modal-content">
	<ul class="collection">
	    <li id="{{item.id}}" class="collection row" *ngFor="let item of buffers">
		<div class="col s3" (click)="onItem(item)">{{item.probability}}</div>
		<div class="col s3" (click)="onItem(item)">{{item.getName()}}</div>
		<div class="col s3" *ngIf="item.bestMatch">
		    <buffer-movie *ngIf="item.bestMatch.type === 'movie'"
				  [movie]="item.bestMatch">
		    </buffer-movie>
		</div>
		<button class="col s3" (click)="validate(item)">Valider</button>
	    </li>
	</ul>
    </div>
    <div class="modal-footer">
    </div>
</div>
