<div class="col s3">
    <div class="collection">
	<a class="collection-item"
	   (click)="onRef($event, 'all')">all</a>
	<a *ngFor="let ref of refs"
	   class="collection-item"
	   (click)="onRef($event, ref)">{{ref}}</a>
    </div>
</div>
<div class="col s9" [ngSwitch]="currentRef">
    <form *ngIf="currentRef !== 'all'"
	  #createForm="ngForm"
	  (ngSubmit)="onSubmit()">
	<div [ngSwitch]="currentRef">
	    <file-create *ngSwitchCase="'file'"
	    		 (onCreated)="onCreated($event)">
	    </file-create>
	</div>
	<div class="row">
	    <button type="submit"
		    [disabled]="!createForm.form.valid"
		    class="btn waves-effect waves-light">
		New {{currentRef}}
		<i class="material-icons right">send</i>
	    </button>
	</div>
    </form>
    <div *ngIf="exports">
	<table *ngFor="let ref of refs2Display">
	    <tr *ngFor="let export of exports.get(ref)">
		<th [ngSwitch]="ref">
		    <file-display *ngSwitchCase="'file'"
				  [file]="export"></file-display>
		</th>
	  	<th>
		    <i id="{{export.name}}"
		       class="material-icons refresh"
		       (click)="onRefresh(export)">refresh</i>
		</th>
		<th><i class="material-icons"
		       (click)="onConfig(export)">settings</i>
		</th>
	  	<th><i class="material-icons"
		       (click)="onDelete(export)">delete</i>
		</th>
	    </tr>
	</table>
    </div>
</div>
