<nav>
    <div class="nav-wrapper">
        <a class="brand-logo center" (click)="onSelectCollection()">{{title}}</a>
        <a data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <a class="right" (click)="onNewCollection()">
            <i class="material-icons medium">add</i>
        </a>
        <ul *ngIf="collection !== undefined"
            class="left hide-on-med-and-down">
            <li><a (click)="onHome()">Home</a></li>
            <li><a (click)="onImport()">Import</a></li>
            <li><a (click)="onExport()">Export</a></li>
            <li><a (click)="onConfig()">Config</a></li>
        </ul>
        <ul *ngIf="collection !== undefined"
            class="side-nav"
            id="mobile-demo">
            <li><a (click)="onHome()">Home</a></li>
            <li><a (click)="onImport()">Import</a></li>
            <li><a (click)="onExport()">Export</a></li>
            <li><a (click)="onConfig()">Config</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <collections title="title"></collections>
</div>
<div class="row">
    <div class="col s3">
    </div>
    <div class="col s9" [ngSwitch]="status">
        <div *ngSwitchCase="appStatus.HOME">HOME</div>
        <div *ngSwitchCase="appStatus.IMPORT">
            <import-directory></import-directory>
        </div>
        <div *ngSwitchCase="appStatus.EXPORT">EXPORT</div>
        <div *ngSwitchCase="appStatus.CONFIG">CONFIG</div>

    </div>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <h4>{{modalTitle}}</h4>
        <p>{{modalMsg}}</p>
    </div>
</div>
