<div class="col s3">
    <div class="collection">
	<a class="collection-item"
	   (click)="onRef($event, 'collection')">collection</a>
	<a *ngFor="let collection of collectionsConfig"
	   class="collection-item"
	   (click)="onRef($event, collection)">{{collection}}</a>
	<a class="collection-item"
	   (click)="onRef($event, 'imports')">imports</a>
	<a *ngFor="let import of importsConfig"
	   class="collection-item"
	   (click)="onRef($event, import)">{{import}}</a>
	<a class="collection-item"
	   (click)="onRef($event, 'exports')">exports</a>
	<a *ngFor="let export of exportsConfig"
	   class="collection-item"
	   (click)="onRef($event, export)">{{export}}</a>
    </div>
</div>
