<div *ngIf="config">
    <label>buffer size:</label><input type="number" name="bufferSize"
				      value="{{config.bufferSize}}"
				      (change)="onChange($event)"
				      min="1" step="1">
    <label>filters:</label><stringlist [name]="'filters'"
				       [value]="config.filters"
				       (change)="onChange($event)"></stringlist>
    <label>separators:</label><stringlist [name]="'separators'"
					  [value]="config.separators"
					  (change)="onChange($event)"></stringlist>
    <label>banned:</label><stringlist [name]="'banned'"
				      [value]="config.banned"
				      (change)="onChange($event)"></stringlist>
</div>
